.navSection {
  display: flex;
  justify-content: flex-end;
  /* background-color: #1A1A1A; */
  width: auto !important;
}
.MuiButton-label {
  font-weight: 700;
}

/* .MuiButton-root:hover{
    background-color: #1A1A1A;
  } */
.MuiButton-text {
  font-family: "Inter", sans-serif !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  color: white;
  margin: 0 10px;
  border-radius: 0;
  text-decoration: none;
}

.navSection span {
  text-decoration: none;
  position: relative;
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
  text-transform: uppercase !important;
  color: white;
  border-radius: 0;
  text-decoration: none;
  font-weight: 500 !important;
}

.navSection span:hover {
  color: #f83600 !important;
}
.navSection span::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -4px;
  color: #f83600 !important;
  background-color: #f83600;
  transform: scaleX(0);
  transition: transform 0.7s ease;
}
.navSection span:hover::after {
  transform: scaleX(1);
}

.navSection Link:active {
  color: #f83600 !important;
}

/* span :active {
        content: "";
        position: absolute;
        display:block;
        width: 100%;
        height: 1px;
        bottom: -1px;
        background-color: white;
      } */
